# Dependencies
node_modules

# Bun
bun.lockb
bun.lock
.bun/

# Build output
dist/
dist/*
stats.html
*.mjs.map
*.cjs.map

# Cache
.cache/
.rollup.cache/
tsup.config.tsbuildinfo
*.tsbuildinfo
.vite/
.vitest/

# Testing
coverage/
.nyc_output/
vitest.d.ts

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
.fleet/
.history/
.DS_Store

# Debug
npm-debug.log*
*.log

# Environment variables
.npmrc
.env
.env.*
!.env.example

# Temporary files
*.tmp
*.temp
.temp/
*.bak
*.swp

# Static analysis tools
.eslintcache
.stylelintcache
.prettiercache

# Project specific
demo
dist
