.stk {
  display: flex;
  position: relative;
  width: var(--bksk-w);
  height: var(--bksk-h);
}

/* Remove borders from children if they're lines */
.stk .line::after {
  border: none;
}

/* Style for debugging border */
.v::after {
  content: '';
  position: absolute;
  inset: 0;
  border: 1px solid var(--bksk-cl, hsla(330, 60%, 40%, 0.6));
  pointer-events: none;
  z-index: var(--bk-zio, 2);
}

/* Style for flat debugging background */
.flat {
  background-color: var(--bksk-cf, hsla(0, 100%, 70%, 0.2));
}
