.spr {
  --bksp-w: var(--bk-wf, 100%);
  --bksp-h: var(--bk-hf, auto);
  --bksp-b: 8px;
  --bksp-cl: var(--bk-spacer-color-line-theme, hsla(270, 60%, 40%, 0.6));
  --bksp-cf: var(--bk-spacer-color-flat-theme, hsla(230, 100%, 70%, 0.2));
  --bksp-ct: var(--bk-spacer-color-text-theme, hsla(270, 60%, 40%, 1));
  position: relative;
  box-sizing: border-box;
  width: var(--bksp-w);
  height: var(--bksp-h);
  flex-shrink: 0;
  display: block;
  margin: 0;
  padding: 0;
}

.line::after {
  content: '';
  position: absolute;
  inset: 0;
  border: 1px solid var(--bksp-cl);
  z-index: calc(var(--bk-zi, 1));
}

.flat {
  background-color: var(--bksp-cf);
}

.indicator {
  color: var(--bksp-ct);
}
