.lay {
  display: grid;
  position: relative;
  box-sizing: border-box;
  width: var(--bklw, var(--bk-width-default, auto));
  height: var(--bklh, var(--bk-height-default, auto));
  grid-template-columns: var(
    --bklgtc,
    var(--bk-layout-gtc, repeat(auto-fit, minmax(100px, 1fr)))
  );
  grid-template-rows: var(--bklgtr, var(--bk-layout-gtr, auto));
  gap: var(--bklg, 0);
  column-gap: var(--bklcg, var(--bk-layout-cg, 0));
  row-gap: var(--bklrg, var(--bk-layout-rg, 0));
  justify-items: var(--bklji, var(--bk-layout-ji, stretch));
  align-items: var(--bklai, var(--bk-layout-ai, stretch));
  justify-content: var(--bkljc, var(--bk-layout-jc, start));
  align-content: var(--bklac, var(--bk-layout-ac, start));
}

.lay .line::after,
.stk .line::after {
  border: none;
}

.v::after {
  content: '';
  position: absolute;
  inset: 0;
  border: 1px solid
    var(--bklcl, var(--bk-layout-color-line-theme, hsla(330, 60%, 40%, 0.6)));
  pointer-events: none;
  z-index: var(--bkzio, 2);
}
