.gde {
  position: absolute;
  inset: 0;
  pointer-events: none;
  padding: var(--bkgpb) var(--bkgpi);
}

.line {
  left: -0.5px; /* Alignment correction for line variant */
}

.cols {
  position: absolute;
  inset: 0;
  display: grid;
  column-gap: var(--bkgg);
  grid-template-rows: 1fr;
  grid-template-columns: var(--bkgt);
  justify-content: var(--bkgj);
  width: var(--bkwf);
  height: var(--bkhf);
  overflow: hidden;
}

.col {
  min-width: 0;
  width: var(--bkwf);
  height: var(--bkhf);
}

/* Variant-specific styles */
.col[data-variant='line'] {
  width: 1px;
  background-color: var(--bkgcl);
}

.col[data-variant='pattern'] {
  background-color: var(--bkgcp);
}

.col[data-variant='auto'] {
  background-color: var(--bkgca);
  overflow: hidden;
}

.col[data-variant='fixed'] {
  background-color: var(--bkgcf);
}

/* Style for SSR rendering */
.ssr {
  box-sizing: border-box;
  display: grid;
  position: relative;
  z-index: 1;
  pointer-events: none;
  min-height: 100px; /* Ensures a minimum height during SSR */
}
