.box {
  position: relative;
  width: var(--bkxw);
  height: var(--bkxh);
}

.v::after {
  content: '';
  position: absolute;
  inset: 0;
  border: 1px solid var(--bkxcl);
  pointer-events: none;
  z-index: var(--bkzi);
}