.gde {
  --bkgd-w: 100%;
  --bkgd-h: 100%;
  --bkgd-mw: none;
  --bkgd-cw: 60px;
  --bkgd-n: 12;
  --bkgd-b: 0;
  --bkgd-cl: var(--bk-guide-color-line-theme, hsla(240, 60%, 40%, 0.15));
  --bkgd-cp: var(--bk-guide-color-pattern-theme, hsla(230, 100%, 70%, 0.2));
  --bkgd-ca: var(--bk-guide-color-auto-theme, hsla(200, 100%, 70%, 0.15));
  --bkgd-cf: var(--bk-guide-color-fixed-theme, hsla(200, 100%, 70%, 0.15));
  --bkgd-g: 0;
  --bkgd-j: center;
  --bkgd-t: none;
  position: absolute;
  inset: 0;
  box-sizing: border-box;
  width: var(--bkgd-w, 100%);
  height: var(--bkgd-h, 100%);
  max-width: var(--bkgd-mw, none);
  margin-inline: auto;
  pointer-events: none;
  padding: var(--bkgd-pb, 0) var(--bkgd-pi, 0);
}

.v {
  opacity: 1;
  visibility: visible;
  transition:
    opacity var(--bk-transition-base),
    visibility 0ms linear;
}

.h {
  opacity: 0;
  visibility: hidden;
  transition:
    opacity var(--bk-transition-base),
    visibility 0ms linear 180ms;
}

.line {
  left: -0.5px; /* Alignment correction for line variant */
}

.cols {
  position: absolute;
  inset: 0;
  display: grid;
  column-gap: var(--bkgd-g);
  grid-template-rows: 1fr;
  grid-template-columns: var(--bkgd-t);
  justify-content: var(--bkgd-j);
  width: var(--bk-wf);
  height: var(--bk-hf);
  overflow: hidden;
  contain: layout style paint;
}

.col {
  min-width: 0;
  width: var(--bk-wf);
  height: var(--bk-hf);
}

/* Variant-specific styles */
.col.line {
  width: 1px;
  background-color: var(--bkgd-cl);
}

.cols.line {
  display: block;
  background-image: repeating-linear-gradient(
    to right,
    var(--bkgd-line-color, var(--bkgd-cl)) 0 1px,
    transparent 1px var(--bkgd-line-period, 1px)
  );
}

.col.pattern {
  background-color: var(--bkgd-cp);
}

.col.auto {
  background-color: var(--bkgd-ca);
  overflow: hidden;
}

.col.fixed {
  background-color: var(--bkgd-cf);
}

.cols.compactFixed {
  display: block;
  left: 50%;
  right: auto;
  width: 240px;
  transform: translateX(-50%);
  background-color: var(--bkgd-cf);
}

/* Style for SSR rendering */
.ssr {
  box-sizing: border-box;
  z-index: 1;
  pointer-events: none;
}
